# Postgres Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=swim-data

# Minio Settings
MINIO_ROOT_USER=ROOTNAME
MINIO_ROOT_PASSWORD=CHANGEME123

#
GRAPHQL_API = "http://localhost:3000/graphql"
